.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  color: var(--primaty-text-color);
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.portfolio-nav__li {
  @media screen and (min-width: 1200px) {
    margin-right: 8px;
  }
}

.portfolio-nav__radiobutton {
  display: block;
  font-family: Roboto, sans-serif;
  color: var(--primaty-text-color);
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(var(--cybic-parameters)), color 250ms cubic-bezier(var(--cybic-parameters)), box-shadow 250ms cubic-bezier(var(--cybic-parameters));

  &:nth-last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-card__content {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  // background-color: rgb(119, 226, 109);
}

.portfolio-collection {
  color: var(--primaty-text-color);
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 30px;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}

.portfolio-card {
  // margin-right: 30px;
  // margin-bottom: 30px;

  max-width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }

  // &:nth-child(3n) {
  //   margin-right: 0;
  // }
}

.portfolio-card__link {
  display: flex;
  transition: box-shadow 250ms cubic-bezier(var(--cybic-parameters));
  flex-direction: column;
  height: 100%;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card__picture {
  z-index: 2;
  .p {
    display: block;
    min-width: 100%;
    height: auto;
  }
}

.portfolio-card__overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(var(--cybic-parameters));

  .portfolio-card__link:hover &,
  .portfolio-card__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-card__title {
  font-family: Roboto, sans-serif;
  color: var(--primaty-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card__description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-card__overley-text {
  position: absolute;
  // content: "";
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  color: var(--white-text-color);
}
