.teambackground {
  background-color: var(--background-color-lightgrey);
}

.team__head {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team {
  list-style: none;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.team-member {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 354px;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 270px;
    padding-bottom: 0;
  }
}

.team-member__picture {
  display: block;
  width: 100%;
}

.team-member__contacts {
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin: 30px 0;
  }
}

.team-member__name {
  margin-bottom: 10px;
  color: var(--primaty-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-member__description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-icons__item {
  height: 44px;
  width: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(var(--cybic-parameters)), color 250ms cubic-bezier(var(--cybic-parameters));

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}

.social-icons__icon {
  fill: currentColor;
}
