.whatwedo-container {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.whatwedo {
  text-align: center;
  margin-bottom: 50px;
}

.whatwedo__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.whatwedo__link {
  position: relative;
}

.whatwedo__overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
}

.whatwedo__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
