:root {
  --primaty-text-color: #212121;
  --dark-color-text: #000000;
  --secondary-text-color: #757575;
  --auxiliary-text-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-dark: #2f303a;
  --background-color-lightgrey: #f5f4fa;
  --cybic-parameters: 0.4, 0, 0.2, 1;
}
